{% extends "base.html" %}
{% block content %}
<h1>projects</h1>

<hr>
<h2>Service and Organizations</h2>
<ul>
	<li>Vietnamese Student Association [VSA] External Communication and Programming Chair</li>
	<li>MESA/Trotter Affiliate Program [MAP]</li>
	<li>A New Trotter (now Trotter on State)</li>
	<li>United Asian American Organizations Executive Board [UAAO]</li>
	<li>Midwest Asian American Student Association Spring Conference [MAASU]</li>
	<li>Asian/Pacific Islander American Mentorship Program [AMP]</li>
</ul>
{% endblock %}

	<!-- <article class="style1">
	    <span class="image">
	        <img src="images/{{entry}}.jpg" alt="" />
	    </span>
	    <a href="portfolios.html">
	        <h2>{{entry}}</h2>
	        <div class="content">
	            <p></p>
	        </div>
	    </a>
	</article> -->
