<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
	<h1>hi, i am meera</h1>
	<img src="../static/profile_pic.jpg" alt="Meera Desai" class="img-prof">
	<h2>analytics | accessibility | research</h2>
	<p class="img-src">Image by Bianca Ng <a href="https://bianca-ng.com/">(website)</a></p>
	<p>Thanks for visiting! I am a Michigan based researcher, interested in using analytics for international development and societal accessibility.</p>
	<button class="w3-button w3-light-grey w3-padding-large w3-section">
      <i class="fa fa-download" href="../static/md_resume.pdf"></i> Download Resume
    </button>
{% endblock %}
